{include="layout"}
{include="navbar"}
<div class="container">
{if="$message"}
<div class="alert alert-info">{$message}</div>
{/if}
<div class="row">
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="ucp.php?page=inbox">Inbox</a></li>
      <li><a href="ucp.php?page=settings">Settings</a></li>
    </ul>
  </div>
  <div class="col-md-9">
  <h4>Words sent to you:</h4>
  <table class="table table-responsive table-bordered table-condensed">
    <tbody>
    {loop="$words"}
      <tr>
        <td id="words-{$value.id}"><b>{$value.author}</b> thinks that you are <span class="label label-default">{$value.word1}</span>, <span class="label label-default">{$value.word2}</span> and <span class="label label-default">{$value.word3}</span><a class="float-right" href="#" class="text-danger" onclick="b(this)" data-word-id="{$value.id}"><i class="glyphicon glyphicon-remove"></i></a></td>
      </tr>
    {/loop}
    </tbody>
  </table>
  </div>
</div>
</div>
{include="footer"}
