{include="layout"}
{include="navbar"}
<div class="container">
<h1>{$site_name}!</h1>
<p>Want to tell them who you are? <input id="author" type="text" class="form-control" placeholder="Anonymous"></p>
<div class="row">
  <div class="col-md-4">
    <input id="word1" type="text" class="form-control" placeholder="First Word">
  </div>
  <div class="col-md-4">
    <input id="word2" type="text" class="form-control" placeholder="Second Word">
  </div>
  <div class="col-md-4">
    <input id="word3" type="text" class="form-control" placeholder="Third Word">
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <button type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
  </div>
</div>
</div>
{include="footer"}